[Unit]
Description=Motor Control Script Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/gtg662w/Desktop/ufl/mainscript.py
WorkingDirectory=/home/gtg662w/Desktop/ufl
StandardOutput=inherit
StandardError=inherit
Restart=always
User=gtg662w

[Install]
WantedBy=multi-user.target

